.main{
    width: 250px;
    height: 230px;
    margin: 0 auto;
    border: 10px groove grey;
    background-color: black;
    margin-top: 5%;
}

.heading h1{
    font-size: 40px;
    font-family:sans-serif;
    color: greenyellow;
    margin-left: 43%;
    margin-top: 5%;
}
 body{
    background-image: url(./images/667162-Aero-Black-Green-Light-Neon-green-color-black.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 78vh;
 } 

.result{
    width: 97%;
    height: 50px;
    background-color: rgb(4, 22, 23);
    color: greenyellow;
    font-size: 30px;
 
}
.clear_btn{
    width: 100%;
    height: 5vh;
    background-color: rgb(48, 48, 48);
    color: greenyellow;
    margin-top: 2px;
    padding: 2px;
    font-size: 17px;
}
.btn{
    width: 23%;
    background-color:rgb(4, 22, 23) ;
    color:greenyellow ;
    margin-top: 2px;
    height: 5vh;
    margin-left:2px ;
    font-size: 20px;
}
.btn:hover{
    background-color: rgb(113, 182, 10);
    color: black;
    
}
@media screen and (max-width:460px) {
.main{
    height: 353px;
    margin-left: 8%;
    margin-top: 5%;
}
.heading h1{
    display: block;
    margin-left: 16%;
}


    
}